.users{
margin: 20px;
color: #65C9FF;
font-weight: bold;
font-size: medium;
}

.usersImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.selectPage{
    font-weight: bold;
}

.selectPage span {
    margin: 3px;
}
.selectedPage{
    color:aqua ;
}