.profileInfo {
    display: flex;
    flex-direction: row;
    justify-content:left;
    width: 100%;
    height: auto;
}

.profileInfo img {
    background: none;
}

.descriptionBlock {
    padding: 10px;
}

.mainPhoto{
    max-width: 300px;
    height: auto;
}

.contacts{
    
    padding-left: 1ch;
}