.profileInfo {
    display: flex;
    flex-direction: row;
    justify-content:left;
    width: 100%;
    height: auto;
}

.avatarDiv {
    display: flex;
    flex-direction: column;
}

.avatarChange {
    opacity: 0;
}
.avatarDiv:hover .avatarChange {
    opacity: 1;
} 



.profileInfo img {
    background: none;
}

.descriptionBlock {
    padding: 10px;
}

.mainPhoto{
    max-width: 300px;
    height: auto;
}

.contacts{
    padding-left: 1ch;
}